<p style="color: green"><%= notice %></p>

<!-- <h1>Users</h1> -->

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Ver Tweet", user %>
    </p>
  <% end %>
</div>

<div class="mt-4">
<%==pagy_bootstrap_nav(@pagy)%>
</div>