<p style="color: green"><%= notice %></p>

<!-- <h1>Users</h1> -->

<div id="users">
  <% @users.each do |user| %>
    <%= render user%>
    <%= button_to user_path(user), method: :get, class: "btn btn-primary ms-4" do %>
      Ver Tweet
    <% end %>
  <% end %>
</div>

<div class="mt-4 pt-4">
<%==pagy_bootstrap_nav(@pagy)%>
</div>